<form id="formLog" (ngSubmit)="addLog(logForm)" #logForm="ngForm">
  <div class="form-group">
    <label for="logTitle"><strong>Add new log</strong></label>
    <input type="text" name="title" ngModel class="form-control" id="logTitle" placeholder="Log title" required>
  </div>

  <div class="form-group" for="logMessage">
    <textarea type="text" name="message" ngModel class="form-control" id="logMessage" rows="3" placeholder="Log message" required></textarea>
  </div>
  <button type="submit" class="btn btn-outline-secondary"><i class="far fa-comment-alt"></i>Submit Log</button>
</form>


<div class="logCard" id="changeCSS">
  <input class="form-control" [(ngModel)]="searchText" placeholder="search text goes here" *ngIf="logs.length > 0">
  <div class="card" *ngFor="let log of logs | searchfilter: searchText ; let i=index">
    <div class="card-body">
      <h4 class="card-title">{{log.title}}</h4>
      <p class="card-text">{{log.message}}</p>
      <p>{{ log.date | date: 'h:mm:ss a, MM-dd-yy'}}</p>
      <button id="delete" class="btn btn-link" (click)="deleteLog(i)">Delete</button>

      <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-palette"></i>
          </button>
          <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button" (click)="blue(i)">Light Blue</button>
            <button class="dropdown-item" type="button" (click)="brown(i)">Light Brown</button>
            <button class="dropdown-item" type="button" (click)="red(i)">Light Red</button>
            <button class="dropdown-item" type="button" (click)="green(i)">Light Green</button>
            <button class="dropdown-item" type="button" (click)="yellow(i)">Light Yellow</button>
          </div>
      </div> 
    </div>
  </div>
</div>
