/* You can add global styles to this file, and also import other style files */

#title {
    margin-left: 15%;
}

#formLog {
    width: 100%;
    height: 350px;
    margin: auto;
    margin-top: 50px;
    border: 1px solid #cac9cf94;
    background-color: #e6e6e759;
}

.form-group {
    margin-left: 10%;
    margin-top: 35px;
    width: 80%;
}

.btn {
    width: 30%;
    margin-left: 10%;
    margin-top: 20px;
}

.btn-outline-secondary {
    background-color: #e6e6e759;
    border-color: #6c757d;
}

.far {
    margin-right: 10px;
}

.logCard {
    margin: auto; 
    margin-top: 80px; 
    width: 100%;
} 

.card {
    height: 160px;
    margin-top: 20px;
    background-color: #e6e6e759; 
    position: relative;
}


.card-body {
    margin: 1px 5px;
}

#delete {
    width: 30%;
    position: absolute;
    right: 0px;
    top: 0px;
    color: #5c6164;
}

.dropdown {
    position: absolute;
    right: 9%;
    bottom: 10%;
}

#dropdownMenu2 {
    width: 100%;
    margin-left: 0;
}

#search {
    width: 50%;
    margin-left: 25%;
    border: 2px solid;
}


@media (min-width: 576px) {
    #title {
        margin-left: 18%;
    }
    
    #formLog {
        width: 100%;
        height: 350px;
        margin: auto;
        margin-top: 50px;
        border: 1px solid #cac9cf94;
        background-color: #e6e6e759;
    }
    
    .form-group {
        margin-left: 10%;
        margin-top: 35px;
        width: 80%;
    }
    
    .btn {
        width: 30%;
        margin-left: 10%;
        margin-top: 20px;
    }
    
    .btn-outline-secondary {
        background-color: #e6e6e759;
        border-color: #6c757d;
    }
    
    .far {
        margin-right: 10px;
    }
    
    .logCard {
        margin: auto; 
        margin-top: 80px; 
        width: 100%;
    } 
    
    .card {
        height: 160px;
        margin-top: 20px;
        background-color: #e6e6e759; 
    }
    
    .card-body {
        margin: 1px 25px;
    }
    
    #delete {
        position: absolute;
        right: 0px;
        top: 0px;
        color: #5c6164;
    }

    .dropdown {
        position: absolute;
        right: 9%;
        bottom: 10%;
    }
    
    #dropdownMenu2 {
        width: 100%;
        margin-left: 0;
    }
    
}

@media (min-width: 768px) {
    #title {
        margin-left: 25%;
    }
    
    #formLog {
        width: 80%;
        height: 350px;
        margin: auto;
        margin-top: 50px;
        border: 1px solid #cac9cf94;
        background-color: #e6e6e759;
    }
    
    .form-group {
        margin-left: 10%;
        margin-top: 35px;
        width: 80%;
    }
    
    .btn {
        width: 25%;
        margin-left: 10%;
        margin-top: 20px;
    }
    
    .btn-outline-secondary {
        background-color: #e6e6e759;
        border-color: #6c757d;
    }
    
    .far {
        margin-right: 10px;
    }
    
    .logCard {
        margin: auto; 
        margin-top: 80px; 
        width: 80%;
    } 
    
    .card {
        height: 160px;
        margin-top: 20px;
        background-color: #e6e6e759; 
    }
    
    .card-body {
        margin: 1px 25px;
    }
    
    #delete {
        position: absolute;
        right: 0px;
        top: 0px;
        color: #5c6164;
    }

    .dropdown {
        position: absolute;
        right: 10%;
        bottom: 10%;
    }
    
    #dropdownMenu2 {
        width: 100%;
        margin-left: 0;
    }
    
}

@media (min-width: 992px) {
    #title {
        margin-left: 30%;
    }
    
    #formLog {
        width: 75%;
        height: 350px;
        margin: auto;
        margin-top: 50px;
        border: 1px solid #cac9cf94;
        background-color: #e6e6e759;
    }
    
    .form-group {
        margin-left: 10%;
        margin-top: 35px;
        width: 80%;
    }
    
    .btn {
        width: 23%;
        margin-left: 10%;
        margin-top: 20px;
    }
    
    .btn-outline-secondary {
        background-color: #e6e6e759;
        border-color: #6c757d;
    }
    
    .far {
        margin-right: 10px;
    }
    
    .logCard {
        margin: auto; 
        margin-top: 80px; 
        width: 75%;
    } 
    
    .card {
        height: 160px;
        margin-top: 20px;
        background-color: #e6e6e759; 
    }
    
    .card-body {
        margin: 1px 25px;
    }
    
    #delete {
        position: absolute;
        right: 0px;
        top: 0px;
        color: #5c6164;
    }
    
    .dropdown {
        position: absolute;
        right: 10%;
        bottom: 10%;
    }
    
    #dropdownMenu2 {
        width: 100%;
        margin-left: 0;
    }
}


@media (min-width: 1200px) {
    #title {
        margin-left: 35%;
    }
    
    #formLog {
        width: 70%;
        height: 350px;
        margin: auto;
        margin-top: 50px;
        border: 1px solid #cac9cf94;
        background-color: #e6e6e759;
    }
    
    .form-group {
        margin-left: 78px;
        margin-top: 35px;
        width: 80%;
    }
    
    .btn {
        width: 150px;
        margin-left: 78px;
        margin-top: 20px;
    }
    
    .btn-outline-secondary {
        background-color: #e6e6e759;
        border-color: #6c757d;
    }
    
    .far {
        margin-right: 10px;
    }
    
    .logCard {
        margin: auto; 
        margin-top: 80px; 
        width: 70%;
    } 
    
    .card {
        height: 160px;
        margin-top: 20px;
        background-color: #e6e6e759; 
    }
    
    .card-body {
        margin: 1px 25px;
    }
    
    #delete {
        position: absolute;
        right: 0px;
        top: 0px;
        color: #5c6164;
    }

    .dropdown {
    position: absolute;
    right: 11%;
    bottom: 10%;
    }

    #dropdownMenu2 {
        width: 100%;
        margin-left: 0;
    }
    
}